---
import { Image } from "astro:assets";
import { cn } from "../../lib/utils";

interface Props {
  id: 1 | 2 | 3 | 4;
  horseImg: ImageMetadata;
  horseColor: "red" | "blue" | "green" | "yellow";
}

const { id, horseImg, horseColor } = Astro.props;
const firstColorLetter = horseColor.charAt(0);
---

<div
  id={`player-${id}`}
  class={cn(
    "player-home-area",
    "w-[180px] h-[180px] sm:w-[190px] sm:h-[190px] md:w-[200px] md:h-[200px] lg:w-[210px] lg:h-[210px]",
    "text-gray-500 text-sm box-content flex justify-center items-center",
    `bg-ludon-${horseColor} border-ludon-${horseColor}`,
    id === 1 && "border-t-2 border-l-2 rounded-tl-[5px]",
    id === 2 && "border-t-2 border-r-2 rounded-tr-[5px]",
    id === 3 && "border-b-2 border-l-2 rounded-bl-[5px]",
    id === 4 && "border-b-2 border-r-2 rounded-br-[5px]"
  )}
>
  <!-- Single Piece Mode: Only 1 piece per player (h1) -->
  <div
    class="flex justify-center items-center p-3 rounded-sm bg-white bg-shadow w-[80px] h-[80px] sm:w-[84px] sm:h-[84px] md:w-[88px] md:h-[88px] lg:w-[92px] lg:h-[92px]"
  >
    <div class="flex justify-center items-center w-[52px] h-[52px] sm:w-[56px] sm:h-[56px] md:w-[60px] md:h-[60px] lg:w-[64px] lg:h-[64px] rounded-full bg-gray-200">
      <Image
        class={`${firstColorLetter}h1 w-5 sm:w-[22px] md:w-6 lg:w-[26px]`}
        id={`${firstColorLetter}h1`}
        src={horseImg}
        alt="Player Horse"
      />
    </div>
  </div>
</div>
